<h1>Accessible Angular Tree</h1>

<h2>Usage</h2>
<p>
  Press <kbd>Tab</kbd> key to start tab sequence til you focus the root node. Then move through the tree with arrow
  keys, <kbd>Home</kbd> or <kbd>End</kbd> keys, or <kbd>*</kbd> / <kbd>Shift + *</kbd> keys.
</p>
<p>
  For more info about implemented keys <a
  href="https://github.com/davidlj95/angular-accessible-tree"><code>README.md</code></a>
</p>

<h2>Sample tree</h2>
<app-tree-node [node]="SAMPLE_TREE"></app-tree-node>

<br/>
Made with ❤️ by <a href="https://davidlj95.com"><code>@davidlj95</code></a>
